/*Inicializar los estilos*/
/*estilos de tipo ID*/



#contenedor {
	width: 960px;
	height: 1580px;
	background-color: #D8D8D8;
	margin: 0 auto;
	position: relative;
}
#mayor {
	width: 540px;
	height: 730px;
	float: left;
	margin-left: 10px;
	/*margin-bottom: 10px;*/
}
#menor {
	width: 380px;
	height: 730px;
	float: left;
	margin-left: 20px;
}

#ciudadtingomaria{
	width: 300px;
	height: 350px;
	float: left;
	margin-left: 10px;
}


#cordilleradehuayhuash{
	width: 300px;
	height: 350px;
	float: left;
	margin-left: 10px;
}

#parquenacionaltingomaria{
	width: 300px;
	height: 350px;
	float: left;
	margin-left: 10px;
}

/*Estilos de tipo Etiqueta*/


h1,h2,a,p{
	margin: 0;
	padding: 0;
}

h1{
	
	margin-top: 15px;
	margin-bottom: 10px;
}

h3{
	
	font-size:18px;
	color: #f16d32;
}



/* para las letras  B23700
 * 08FFE2
 */
/*Estilos de Tipo CLASS*/

.rodeatexto1 {
	float: left;
	margin-right: 10px;
	box-shadow: 8px 5px 5px #888888;
	border-width: 5px;
	border-style:solid;
	border-color: #FFFFFF;
}

.textoespacio {
	margin-bottom: 15px;
}

.textoespacio2{
	margin-top: 10px;
}


.atractivo1{
	margin-left: 10px;
}

.atractivo2{
	margin-top: 15px;
}
 .menu1
                 {
                  font-family:'Verdana';
                  font-weight:bold;
                  font-size:14px;
                  color:#B23700;
                  text-decoration:none;
                 }
a:hover.menu1{
	color: #00B29E;
	text-decoration:underline;
}

