

/*ESTILO TIPO ID*/
#contenedor {
	width: 960px;
	height: 1180px;
	background-color: #D8D8D8;
	margin: 0 auto;
	position: relative;
}
 
 #descrip{
 	width: 540px;
 	height: auto px;
 	/*background-color: #00B29E;*/
 	float: left;
 	margin-left: 10px;
 	margin-bottom: 10px;
 }
 
 #block1{
 	width: 380px;
 	height: auto px;
 	float: left;
 	margin-left: 20px;
    /*background-color: #4A6B98;*/
 }
 

 
 
 
 


/*ESTILOS TIPO CLASS*/




.textoespacio3{
	margin-top: 20px;
}

.textoespacio4{
	margin-bottom:0px;
}

.textoespacio5{
	margin-top: 20px;
}






