/*ESTILOS ID*/
#contenedor {
	width: 960px;
	height:940px;
	background-color: #D8D8D8;
	margin: 0 auto;
	position: relative;
}

 

 #descrip{
 	width: 540px;
 	height: auto px;
 	float: left;
 	margin-left: 10px;
 	margin-bottom: 10px;
 }
 

 #block1{
 	width: 380px;
 	height: auto px;
 	float: left;
 	margin-left: 10px;
 }
 
  

/*ESTILOS CLASS*/