
#contenedor {
	width: 960px;
	height: 1800px;
	margin: 0 auto;
	background-color: #D8D8D8;
	position: relative;
}

#mayor{
	width: 540px;
	height: 380px;
	background-color:#F16D32;
	float:left;
	margin-left:10px;
	margin-bottom: 10px;
}

#texto1{
	width:540px;
	height:200px;
	background-color:#4A6B98;
	float:right;
	margin-left:10px;
	margin-bottom:10px;
}
#largo{
	width:380px;
	height:600px;
	background-color:#0062F4;
	float:left;
}


